---
import Layout from "../layouts/Landing.astro";
---

<Layout title="私が来た">
  <main class="m-80">
    <pre
      class="[writing-mode:vertical-rl] text-right whitespace-pre-line float-right inline-block">
      ファック
      minna
    </pre>
  </main>
</Layout>
